<?xml version='1.0' encoding='utf-8'?>
<widget id="espinosa.minigo" version="2.5.7" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Pokemon Mini Go</name>
    <description>
        Pokemon Mini Go Game
    </description>
    <author email="gm.mizuki@gmail.com" href="https://github.com/XPnosa">
        Juan Antonio Espinosa Prieto
    </author>
    <content src="index.html" />
    <icon src="www/img/favicon.png" />
    <access origin="*" />
</widget>
