/* DEFAULT */
html {
	height: 100%;
	background: linear-gradient(red, black, white);
}
body {
	margin: 0;
	height: 100%;
}
fieldset {
	margin: 0% 1%;
	color: whitesmoke;
	background-color: #111;
	border-radius: 10px;
	position: relative;
	top: 1%;
}
legend {
	font-size: 20px;
}
table {
	width: 100%;
	margin-top: 10px;
}
td {
	width: 50%;
}

/* MENU */
.menu, .subtitle {
	font-size: 1.25em;
	font-weight: bold;
	border-radius: 1em;
}
.active, .inactive {
	display: inline-block;
	font-weight: bold;
	background-color: #222;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-top: 1px solid gray;
	padding: 10px 5px;
	border-radius: 5px 5px 0px 0px;
	cursor: pointer;
}
.inactive {
	transform: scaleY(0.5);
	width: 12px;
	text-align: center;
	position: relative;
	top: -10px;
	color: silver;
	background-color: silver;
	border-bottom: 3px solid gray;
}
.active > div {
	transform: scale(0.75);
	width: 90px;
	text-align: center;
}
.inactive > div {
	color: whitesmoke;
	transform: scaleX(0.75) scaleY(1.25);
}
.box > div {
	width: 50px;
}
.order {
	width: 100px;
}
.delete {
	width: 75px;
}
.order {
	background-color: limegreen;
	border-bottom: 3px solid darkgreen;
}
.delete {
	background-color: firebrick;
	border-bottom: 3px solid darkred;
}
.cell {
	width: 30%;
	height: 30px;
}
.stock {
	width: 30px;
	height: 30px;
	background: whitesmoke;
	font-size: 1em;
}

/* POKEMON */
.pkmn {
	height: 30px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
	position: relative;
	background-color: #222;
	margin-right: 0.5em;
	display: none;
}
.visible {
	display: block;
}
.pkmn:hover {
	background-color: #333;
}
.pk_name {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	margin-left: 5px;
	border: 0;
	font-size: 1em;
	color: whitesmoke;
	background: transparent;
}
.pk_cp {
	left: 40%;
	display: inline-block;
}
.pk_check {
	margin: 0px;
	right: 10px;
	width: 20px;
}
.pk_img {
	float: left;
}
.pk_img, .pk_name {
	cursor: pointer;
	height: 30px;
	display: inline-block;
}

/* MENU COLORS */
.red { background-color: #ECC; color: #911; }
.green { background-color: #CEC; color: #191; }
.blue { background-color: #CCE; color: #119;}
.yellow { background-color: #EEC; color: #991;}
.purple { background-color: #ECE; color: #919;}
.cyan { background-color: #CEE; color: #199;}
.black { background-color: #333; color: #EEE; }
.white { background-color: #EEE; color: #333; }

/* TYPE BUTTONS */
.pk_types {
	float: right;
	cursor: default;
	height: 30px;
	position: relative;
	display: inline-block;
}
.pk_types_info {
	cursor: default;
	height: 30px;
	position: relative;
	display: inline-block;
}
.pk_type {
	cursor: pointer;
	height: 20px;
	width: 80px;
	margin: 4px 5px 4px 0px;
	font-weight: bold;
	display: inline-block;
	border: 1px solid #aaa;
	border-radius: 2px;
	color: white;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px black;
}
.pk_type > span {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* INFO */
.title {
	margin-top: 5px;
	font-size: 20px;
	font-weight: bold;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
.altura, .peso {
	display: none;
}
.init {
	background-color: transparent;
	top: -12px !important;
	border: 0px !important;
	width: 0px !important;
	padding: 0px 0px 6.5px 0px;
	cursor: defaul;
	white-space:nowrap;
	transform: scaleX(0.75) scaleY(0.75) !important;
}
.gold:active {
	text-decoration: underline;
	text-decoration-color: gold;
	text-shadow: 1px 1px 1px silver;
}
.status{
	margin: 10px;
}
.status > tbody > tr > td {
	padding: 7px;
	font-size: 1.25em;
}

/* SHOP */
#shop {
	font-size: 1.25em;
}
#fondos, #precio, #comprar {
	display: inline-block;
	margin: 5px;
	padding: 5px;
	color: black;
	background: whitesmoke;
	border: 3px outset silver;
}
#comprar {
	background: goldenrod;
	border: 3px outset darkgoldenrod;
	border-radius: 10px;
}
#comprar:active {
	background: darkgoldenrod;
	border: 3px outset goldenrod;
}
.disabled {
	opacity: 0.5;
	pointer-events: none;
}

/* OTHERS */
#list {
	overflow-y: auto;
	position: relative;
	top: -16px;
	margin: 2px;
	margin-right: 0px;
}
#loading {
	filter: invert(100%);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#loading-mini {
	position: absolute;
	top: 1.5%;
	right: 1.5%;
	height: 1em;
}
#gallery, #details {
	background: linear-gradient(red, black, white);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#photo {
	height: 200px;
}
#photo, #photo-full {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#info {
	margin: 0 10px;
	padding: 10px;
	opacity: 0.9;
	background: #CCC;
	border: 5px outset #333;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 75%;
	max-height: 75%;
	overflow-y: auto;
}
#msg {
	height: 50px;
}
#sub {
	height: 100px;
}
#msg, #sub, #content {
	opacity: 0.9;
	font-size: 1.25em;
	background: #CCC;
	border: 5px outset #333;
	border-radius: 10px;
}
#content {
	font-size: 1em;
}
#wild, #partner {
	height: auto;
}
#path, #pokemon, #bag {
	padding: 10px;
	margin: 0%;
}

/* TYPES */
.Normal{background:#8a8a59;background-image:-webkit-linear-gradient(#a8a878,#8a8a59);background-image:linear-gradient(#a8a878,#8a8a59);border-color:#79794e}
.Fuego{background:#f08030;background-image:-webkit-linear-gradient(#f08030,#dd6610);background-image:linear-gradient(#f08030,#dd6610);border-color:#b4530d}
.Agua{background:#6890f0;background-image:-webkit-linear-gradient(#6890f0,#386ceb);background-image:linear-gradient(#6890f0,#386ceb);border-color:#1753e3}
.Eléctrico{background:#f8d030;background-image:-webkit-linear-gradient(#f8d030,#f0c108);background-image:linear-gradient(#f8d030,#f0c108);border-color:#c19b07}
.Planta{background:#78c850;background-image:-webkit-linear-gradient(#78c850,#5ca935);background-image:linear-gradient(#78c850,#5ca935);border-color:#4a892b}
.Hielo{background:#98d8d8;background-image:-webkit-linear-gradient(#98d8d8,#69c6c6);background-image:linear-gradient(#98d8d8,#69c6c6);border-color:#45b6b6}
.Lucha{background:#c03028;background-image:-webkit-linear-gradient(#c03028,#9d2721);background-image:linear-gradient(#c03028,#9d2721);border-color:#82211b}
.Veneno{background:#a040a0;background-image:-webkit-linear-gradient(#a040a0,#803380);background-image:linear-gradient(#a040a0,#803380);border-color:#662966}
.Tierra{background:#e0c068;background-image:-webkit-linear-gradient(#e0c068,#d4a82f);background-image:linear-gradient(#e0c068,#d4a82f);border-color:#aa8623}
.Volador{background:#a890f0;background-image:-webkit-linear-gradient(#a890f0,#9180c4);background-image:linear-gradient(#a890f0,#9180c4);border-color:#7762b6}
.Psíquico{background:#f85888;background-image:-webkit-linear-gradient(#f85888,#f61c5d);background-image:linear-gradient(#f85888,#f61c5d);border-color:#ba083d}
.Bicho{background:#a8b820;background-image:-webkit-linear-gradient(#a8b820,#8d9a1b);background-image:linear-gradient(#a8b820,#8d9a1b);border-color:#616b13}
.Roca{background:#b8a038;background-image:-webkit-linear-gradient(#b8a038,#93802d);background-image:linear-gradient(#b8a038,#93802d);border-color:#746523}
.Fantasma{background:#705898;background-image:-webkit-linear-gradient(#705898,#554374);background-image:linear-gradient(#705898,#554374);border-color:#413359}
.Dragón{background:#7038f8;background-image:-webkit-linear-gradient(#7038f8,#4c08ef);background-image:linear-gradient(#7038f8,#4c08ef);border-color:#3d07c0}
.Acero{background:#b8b8d0;background-image:-webkit-linear-gradient(#b8b8d0,#9797ba);background-image:linear-gradient(#b8b8d0,#9797ba);border-color:#7a7aa7}
.Siniestro{background:#705848;background-image:-webkit-linear-gradient(#705848,#513f34);background-image:linear-gradient(#705848,#513f34);border-color:#362a23}
.Hada{background:#e898e8;background-image:-webkit-linear-gradient(#e898e8,#de6ede);background-image:linear-gradient(#e898e8,#de6ede);border-color:#d547d5}

/* SCROLLBARS */
::-webkit-scrollbar {
	width: 0.5em;
}
::-webkit-scrollbar-thumb {
	background: rgba(255,255,255,0.5); 
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,255,255,0.2); 
}

/* SMALL */
@media (max-width: 400px) {
	.pk_types {
		display: none;
	}
}

/* MEDIUM */
@media (min-width:640px)  { 
	.pkmn {
		height: 60px;
	}
	.pk_name {
		font-size: 1.5em;
	}
	.pk_img {
		float: left;
	}
	.pk_img, .pk_name {
		height: 60px;
	}
	.pk_types {
		height: 60px;
	}
	.pk_types_info {
		height: 60px;
	}
	.pk_type {
		height: 50px;
		width: 160px;
		margin: 3px 5px 3px 0px;
		border: 2px solid #444;
		border-radius: 4px;
		font-size: initial;
		text-shadow: 2px 2px 2px black;
	}
	.pk_check {
		margin: 0px;
		right: 20px;
		width: 40px;
	}
	.title {
		margin-top: 0.25em;
		margin-bottom: 0.5em;
		font-size: 1.25em;
	}
	.menu, .subtitle {
		font-size: 1.75em;
		border-radius: 1.75em;
	}
	#info {
		font-size: 1.75em;
	}
	#content, #shop {
		font-size: 1.5em;
	}
	table {
		margin-top: 1em;
	}
	.status > tbody > tr > td {
		padding: 3px;
	}
	.active > div {
		width: 150px;
	}
	legend {
		font-size: 2em;
	}
	.inactive {
		width: 0.75em;
		top: -15px;
	}
	.init {
		top: -16px !important;
	}
	.box > div {
		width: 100px;
	}
	.order {
		width: 200px;
	}
	.delete {
		width: 150px;
	}
	
	#loading-mini {
		height: 1.5em;
	}
	.stock {
		height: 30px;
	}
	.cell {
		height: 70px;
	}
	::-webkit-scrollbar {
		width: 0.75em;
	}
}

/* BIG */
@media (min-width:1200px)  { 
	.altura {
		left: 25%;
	}
	.peso {
		left: 50%;
	}
	.altura, .peso {
		color: silver;
		font-size: 1.25em;
		display: inline-block;
	}
	.menu, .subtitle {
		font-size: 2.5em;
		border-radius: 2.5em;
	}
	#info, #content {
		font-size: 2em;
	}
}

/* VERTICAL */
@media (orientation: portrait) {
	.menu {
		width: 90%;
		height: 10%;
		margin: 3% 5%;
		padding: 3% 5%;
	}
	.black, .white {
		border-radius: 10px;
	}
	th.cell {
		height: 60px;
	}
	td.cell {
		height: 90px;
	}
	#fondos, #precio {
		width: 90%;
	}
}

/* HORIZONTAL */
@media (orientation: landscape) {
	.menu {
		width: 40%;
		height: 20%;
		margin: 2% 5%;
		padding: 2% 5%;
	}
	#fondos, #precio {
		width: 30%;
	}
	.extra, .vs {
		display: none;
	}
	.status > tbody > tr > td {
		padding: 3px;
	}
	.status > tbody > tr > td.stat {
		padding: 7px;
	}
}

/* ANIMATION */
.defeat {
	animation-name: defeated;
	animation-duration: 1000ms;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-direction: normal;
	filter: grayscale(100%);
}
@keyframes defeated {
	0%   {filter: grayscale(0%);}
	100% {filter: grayscale(100%);}
}
.catch {
	animation-name: catched;
	animation-duration: 1000ms;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-direction: normal;
	transform: translateY(-50%) scale(0) !important;
}
@keyframes catched {
	0%   {transform: translateY(-50%) scale(1);}
	100% {transform: translateY(-50%) scale(0);}
}
.ball_1 { background-image: url(../img/ball_1.png); }
.ball_2 { background-image: url(../img/ball_2.png); }
.ball_3 { background-image: url(../img/ball_3.png); }
.ball_1, .ball_2, .ball_3 {
	animation-name: balled;
	animation-duration: 1000ms;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-direction: normal;
	background-repeat: no-repeat;
	background-position: center;
}
@keyframes balled {
	0%   {opacity:0;}
	100% {opacity:1;}
}
.evade {
	animation-name: evaded;
	animation-duration: 500ms;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-direction: normal;
	opacity: 0;
}
@keyframes evaded {
	0%   {opacity: 1;}
	100% {opacity: 0;}
}
.fault {
	animation-name: faulted;
	animation-duration: 500ms;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-direction: normal;
}
@keyframes faulted {
	0%   {transform: translateY(-50%) scaleX(1);}
	50%  {transform: translateY(-50%) scaleX(-1);}
	100% {transform: translateY(-50%) scaleX(1);}
}
.shiny {
	animation-name: shined;
	animation-duration: 500ms;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-direction: normal;
}
@keyframes shined {
	0%   {filter: brightness(100%);}
	50%  {filter: brightness(200%);}
	100% {filter: brightness(100%);}
}
